<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class = "container-fluid">
    <a class = "navbar-brand" href="#">
      <img src="assets/img/logo_1.png" width="80px" height="45px">
    </a>
    <button type="button" class="btn btn-outline-secondary">Ingresa</button>
  </div>
</nav>

<div class="d-flex justify-content-evenly flex-wrap m-2">
  <div class = "align-self-center w-25">
    <p> Sershop es un empresa de venta de productos </p>
  </div>
  <div class = "align-self-center w-25">
    <img src = "assets/img/1.jpg" class="w-100">
  </div>
  <div class="flex-wrap mb-3 align-self-center w-25" style="max-width: 20rem;">
    <app-registro></app-registro>
  </div>
</div>
