<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class = "container-fluid">
    <a class = "navbar-brand" href="#">
      <img src="assets/img/logo_1.png" width="80px" height="45px">
    </a>
    <button type="button" class="btn btn-outline-secondary">Ingresa</button>
  </div>
</nav>

<div class="d-flex justify-content-evenly flex-wrap m-2">
  <div class = "align-self-center w-25">
    <p> Sershop es un empresa de venta de productos </p>
  </div>
  <div class = "align-self-center w-25">
    <img src = "assets/img/1.jpg" class="w-100">
  </div>
  <div class="card border-success mb-3 align-self-center w-25" style="max-width: 20rem;">
    <div class="card-header text-center">Registrese Aqui</div>
    <div class="card-body">
      <div class="form-floating mb-1">
        <input type="text" id="floating_ndi" placeholder="Ingrese su DNI" class="form-control">
        <label for="floating_ndi" class="form-label">DNI</label>
      </div>
      <div class="form-floating mb-1">
        <input type="text" id="floating_nombres" placeholder="Ingrese sus Nombres" class="form-control">
        <label for="floating_nombres" class="form-label">Nombres</label>
      </div>
      <div class="form-floating mb-1">
        <input type="text" id="floating_apellidos" placeholder="Ingrese sus Apellidos" class="form-control">
        <label for="floating_apellidos" class="form-label">Apellidos</label>
      </div>
      <div class="form-floating mb-1">
        <input type="text" id="floating_correo" placeholder="Ingrese su Correo" class="form-control">
        <label for="floating_correo" class="form-labe">Correo</label>
      </div>
      <div class="form-floating mb-1">
        <input type="text" id="floating_celular" placeholder="Ingrese su Nro. celular" class="form-control">
        <label for="floating_celular" class="form-label">Nro. celular</label>
      </div>
      <div class="w-100">
        <button type="button" class="btn btn-outline-info w-100">Registrarse</button>
      </div>
    </div>
  </div>
</div>
